{% extends "base.html" %}
{% set title = "追加" %}
{% block additional %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/addfromcam.css') }}">
{% endblock %}

{% block description %}
本に記載されているISBNを入力して、本を追加することが出来ます。
{% endblock %}

{% block content %}
<form id="isbn_form" enctype="multipart/form-data">
  <input class="nice_textbox" type="text" name="isbn" maxlength="13" pattern="^[0-9]+$" placeholder="ISBNコードを入力" required autofocus>
</form>

<div id="noresults">
  情報がありませんでした。 <br>
  もう一度、お試しください。
</div>

<div id="results" class="scroll_list"></div>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="{{ url_for('static', filename='js/addfromisbn.js') }}" charset="utf-8"></script>
{% endblock %}
