{% extends "base.html" %}
{% set title = "ISBNから追加ページ" %}
{% block additional %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/addfromisbn.css') }}">
{% endblock %}

{% block content %}
<h2>ISBNから追加ページ</h2>
<form id="isbn_form" enctype="multipart/form-data">
  ISBN <br>
  <input type="text" name="isbn" maxlength="13" pattern="^[0-9]+$" required autofocus>
  <br>
  <input type="submit" name="botan" value="send">
</form>
<div id="results">

</div>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="{{ url_for('static', filename='js/addfromisbn.js') }}" charset="utf-8"></script>
{% endblock %}
