{% extends "base.html" %}
{% set title = "追加" %}
{% block additional %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/comfirm.css') }}">
{% endblock %}

{% block description %}
本を収納するブロックを選んでください。
{% endblock %}

{% block content %}
<span class="comfirm_center">
  本を収納するブロックを選んでください。
</span>
<div class="block_list">
  {% for i in range(1, 7) %}
    <div id="block{{i}}">
      <button class="block_button" type="button" name="blk_btn" id="blk_btn{{i}}">ブロック{{i}}に入れる</button>
    </div>
  {% endfor %}
</div>

<!-- book info field -->
<input type="hidden" id="session" value="{{data.session}}">
<input type="hidden" id="title" value="{{data.title}}">
<input type="hidden" id="isbn" value="{{data.isbn}}">
<input type="hidden" id="authors" value="{{data.authors}}">
<input type="hidden" id="publisher" value="{{data.publisher}}">
<input type="hidden" id="thumbnail" value="{{data.thumbnail}}">

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="{{ url_for('static', filename='js/confirm.js') }}" charset="utf-8"></script>
{% endblock %}
