<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="main.css">
    <script src="https://kit.fontawesome.com/2681ac051d.js" crossorigin="anonymous"></script>
    <title>テスト</title>
  </head>
  <body>
    <div class="component-serch-box">
      <input type="text" class="search-box-txt" name="" placeholder="Type Key Words">
      <a class="search-box-btn" href="#"><i class="fas fa-search"></i></a>
    </div>

    <h1>aaa</h1>
    <div id="test">
      content
    </div>
    <button type="button" id="b1">BUTTON</button>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="main.js" charset="utf-8"></script>
  </body>
</html>
